.heading
{
    font-size: 23px;
    width: 100%;
    margin : 0px;
}

.notee
{
    font-size: 15px;
    color : white;
}

.name
{
    font-size: medium;
}

canvas
{
    border: solid 5px white;
    border-radius: 70px;
    box-shadow: yellow;
}